# Configuration du serveur
PORT=3000

# Configuration S3 / MinIO
S3_IP=http://192.168.1.181
S3_PORT=9000
S3_ACCESS=your_s3_access_key
S3_SECRET=your_s3_secret_key
S3_BUCKET_NAME=live-chat

# Sécurité / Authentification
GLOBAL_TOKEN=your_secure_global_token
